{% extends 'menu.html' %}
{% load static %}

{% block title %}Login{% endblock %}

{% block style %}
    <link rel="stylesheet" href="{% static 'css/form.css' %}">
{% endblock %}

{% block content %}
    <form method="post">
        {% csrf_token %}
        {% if messages %}
        <ul class="messages">
            {% for message in messages %}
            <li class="{{ message.tags }}">{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        {{ form.non_field_errors }}
        <div>
            {{ form.username.label_tag }} {{ form.username }}
            {{ form.username.errors }}
        </div>
        <div>
            {{ form.password.label_tag }} {{ form.password }}
            {{ form.password.errors }}
        </div>
        <div>
            {{ form.ramane_logat.label_tag }} {{ form.ramane_logat }}
        </div>
        <button type="submit">Login</button>
    </form>
{% endblock %}
